
fieldset .form-row.field-foto {
    position: absolute;
    right: 20px;
    background-color: white;
}

#id_plz {
    width: 150px;
}

label[for=id_foto] {
    display: none;
}

#id_foto {
    width: 70px;
}

#id_nationalitaet {
    width: 40px;
}

.vTextField {
    width: 150px;
}

.aligned label {
    width: 120px;
}

.help {
    display: none;
}