
.anmeldung fieldset {
    margin: 10px 0;
}

.anmeldung .left {
    width: 48%;
    margin-right: 4%;
}

.anmeldung .right {
    width: 48%;
}

.anmeldung .control-group {
    margin: 4px 0;
}

.anmeldung .control-label {
    width: 120px;
}

.anmeldung .controls {
    margin-left: 140px;
}

.anmeldung .controls input,
.anmeldung .controls select {
  display: block;
  width: 95%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.anmeldung .checkfield {
    padding: 0 20px;
}

.anmeldung .checkfield input[type="checkbox"] {
    margin: 0;
}

.anmeldung input[readonly=readonly],
.anmeldung select[readonly=readonly] {
    background: white;
    border: none;
    box-shadow: none;
    outline: none;
}

.notfallblatt textarea {
    width:  92%;
    height: 140px;
}

#foto-clear_id {
    width: auto;
}

label[for=foto-clear_id] {
    display: inline;
}

#id_foto {
    width: auto;
}

#anmelden_button {
    display: block;
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 1140px) {
    .anmeldung .left,
    .anmeldung .right {
        float: none;
        width: 100%;
    }
}

.anmeldung_box a {
    display: block;
    margin: 10px 0;
}

a.kurs {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #DDDDDD;
}

a.kurs:hover {
    background: #eee;
}

a.kurs h3 {
    float: left;
}

a.kurs.angemeldet {
    background: #73FF73;
}

a.kurs p.check {
    float: right;
    margin: 0 2% 0 0;
}

a.kurs.angemeldet:hover {
    background: #3BB83B;
}


a.kurs h3 {
    font-size: 18px;

    text-decoration: none;
}

a.kurs table {
    width: 100%;
}

a.kurs th {
    width: 20%;
    text-align: left;
}

a.kurs td {
    width: 30%;
    text-align: left;
    padding: 5px 10px;
}