BeautifulSoup==3.2.1
diff-match-patch==20120106
distribute==0.7.3
django-autoslug==1.7.1
django-import-export==0.1.4
django-mptt==0.6.0
django-reversion==1.7.1
django-suit==0.2.5
django-tinymce==1.5.1
Django==1.5.5
feincms-cleanse==2
FeinCMS==1.7.6
gunicorn==18.0
lxml==3.2.3
openpyxl==1.6.2
Pillow==2.2.1
pip-tools==0.3.4
psycopg2==2.5.1
python-dateutil==2.1
python-memcached==1.53
six==1.4.1
sorl-thumbnail==11.12
South==0.8.2
tablib==0.9.11
unicodecsv==0.9.4
