{% extends "base.html" %}
{% load bootstrap thumbnail %}

{% block content %}
<h1>Anmeldung {{ kurs }}</h1>
<form method="post" class="form-horizontal" enctype="multipart/form-data">
	{% csrf_token %}

	{% include "bootstrapform/errors.html" %}

	<div class="anmeldung clearfix">
		<div class="left">
	    	<fieldset>
	    		<legend>Personalien</legend>
				{{ form.pfadiname|bootstrap }}
		        {{ form.vorname|bootstrap }}
		        {{ form.nachname|bootstrap }}
		        {{ form.geschlecht|bootstrap }}
		        {{ form.geburtsdatum|bootstrap }}
		        <br>
		        {{ form.strasse|bootstrap }}
		        {{ form.plz|bootstrap }}
		        {{ form.ort|bootstrap }}
		        {{ form.land|bootstrap }}
		        <br>
		        {{ form.email|bootstrap }}
		        {{ form.telefon|bootstrap }}
		        {{ form.mobiltelefon|bootstrap }}
	    	</fieldset>
		</div>

		<div class="right">
	    	<fieldset>
		    	<legend>Pfadizugehörigkeit</legend>
		        {{ form.abteilung|bootstrap }}
		    	<div id="abteilung_create">
		    		{{ abtform|bootstrap }}
		    	</div>
		        {{ form.einheit|bootstrap }}
		        {{ form.stufe|bootstrap }}
		    </fieldset>

		    <fieldset>
		    	<legend>Weitere Daten</legend>
	    		{% thumbnail form.instance.foto "100x100" as foto %}
	    		<div class="controls">
	    			<img src="{{ foto.url }}">
	    		</div>
				{% endthumbnail %}
		    	{{ form.foto|bootstrap }}
		        {{ form.nationalitaet|bootstrap }}
		        {{ form.erstsprache|bootstrap }}
		        {{ form.bahnabo|bootstrap }}
		        {% comment %}
		        {{ form.js|bootstrap }}
		        {{ form.ahv|bootstrap }}
		        {% endcomment %}

		        <br>

		        {{ zusatzform|bootstrap }}

	        	{{ form.vegetarier|bootstrap }}
	        	{{ form.schweinefleisch|bootstrap }}
	        	{{ form.bestaetigung|bootstrap }}
		    </fieldset>
        </div>
	</div>

	<br>

	<center>
		<p>Bitte überprüfe deine Daten nochmals, bevor du die Anmeldung abschickst</p>
	</center>
	<br>
    <button id="anmelden_button" type="submit" class="btn btn-large btn-primary">
		<i class="icon-save"></i>
		Anmeldung speichern
    </button>
</form>
{% endblock %}