{% load anmeldung thumbnail %}

<!DOCTYPE html>
<html>

<head>
    <title>Anmeldungen {{ anmeldung.kurs }}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/font-awesome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/anmeldung_print.css">
</head>
<body>
    {% for a in anmeldungen %}
    {% if a.notfallblatt %}
    <div class="header clearfix">
        <img id="logo" src="{{ STATIC_URL }}img/logo_print.png" class="left">

        <p id="kontakt">
            Pfadi Züri AuRe 4, Flamberg & Glockenhof<br>
            Andreas Mörker v/o Kodack, kodack@gloggi.ch<br>
            http://aure4.ch
        </p>
    </div>

    <div class="clearfix">
        {% thumbnail a.foto "250x250" as foto %}
        <img id="foto" src="{{ foto.url }}">
        {% endthumbnail %}

        <h1>Notfallblatt von:<br>{{ a.vorname }} {{ a.nachname }} v/o {{ a.pfadiname }}</h1>
    </div>
    <br>
    <div class="clearfix">
        <table class="spalte1">
            <tr><th colspan="2" class="cat">
                Kontaktperson während dem Lager
            </th></tr>
            <tr><th>Voller Name</th><td>{{ a.notfallblatt.kontakt }}</td></tr>
            <tr><th>Strasse</th><td>{{ a.notfallblatt.strasse }}</td></tr>
            <tr><th>Ort</th><td>{{ a.notfallblatt.plz }} {{ a.notfallblatt.ort }}</td></tr>
            <tr><th>Land</th><td>{{ a.notfallblatt.land }}</td></tr>
            <tr><th>Email</th><td>{{ a.notfallblatt.email }}</td></tr>
            <tr><th>Telefon</th><td>{{ a.notfallblatt.telefon }}</td></tr>
            <tr><th>Natel</th><td>{{ a.notfallblatt.mobiltelefon }}</td></tr>
        </table>
        <table class="spalte2">
            <tr><th colspan="2" class="cat">
                Versicherung
            </th></tr>
            <tr><th>Krankenkasse</th><td>{{ a.notfallblatt.krankenkasse }}</td></tr>
            <tr><th>Unfallversicherung</th><td>{{ a.notfallblatt.unfallversicherung }}</td></tr>
            <tr><th>Regagönner</th><td>{{ a.notfallblatt.rega }}</td></tr>
            <tr><th colspan="2" class="cat">
                Hausarzt
            </th></tr>
            <tr><th>Voller Name</th><td>{{ a.notfallblatt.arzt_name }}</td></tr>
            <tr><th>Strasse</th><td>{{ a.notfallblatt.arzt_strasse }}</td></tr>
            <tr><th>Ort</th><td>{{ a.notfallblatt.arzt_plz }} {{ a.notfallblatt.arzt_ort }}</td></tr>
            <tr><th>Telefon</th><td>{{ a.notfallblatt.azrt_telefon }}</td></tr>
        </table>

        <br>
        <p><strong>Datum der letzten Starrkrampfimpfung</strong> {{ a.notfallblatt.starrkrampf}}</p>

        <p><strong>Medikamente:</strong><br> {{ a.notfallblatt.medikamente }}</p>

        <p><strong>Verabreichung durch Lagerleitung:</strong>
            {% if a.notfallblatt.medis_ll %}JA{% else %}NEIN{% endif %}</p>

        <p><strong>Gesundheitszustand:</strong><br> {{ a.notfallblatt.gesundheitszustand }}</p>

        <p><strong>Weiteres:</strong><br> {{ a.notfallblatt.weiteres }}</p>
    </div>
    <hr>
    {% endif %}
    {% endfor %}
</body>
</html>
