{% extends "base.html" %}

{% block content %}

<h1>Du bist für den Kurs {{ anmeldung.kurs }} angemeldet</h1>

<p>Um deine Anmeldung abzuschliessen, musst du noch folgende 3 Schritte abschliessen</p>


<br>

<div class="clearfix">
  <div class="anmeldung_box">
    <h3>1. Kopie ans Seki</h3>
    <br>
    {% if anmeldung.anmeldung_erhalten %}
      <div class="alert alert-success">
       <i class="icon-check"></i> <strong>Abgeschlossen</strong>
      </div>

      <p>Wir haben dein Anmeldung erhalten und bestätigen somit offiziell deine
         Teilnahme am Kurs! Du kannst deine Anmeldung aber nachwievor hier
         ergänzen, wir benötigen keine neue Kopie.
      </p>
    {% else %}
      <div class="alert alert-error">
       <i class="icon-check-empty"></i> <strong>Noch nicht abgeschlossen</strong>
      </div>

      <p>Wir benötigen noch eine unterschriebene Kopie deiner Anmeldung. Bitte
        drucke deine Anmeldung gleich jetzt aus und schick sie an angegebene
        Adresse unseres Seki.
      </p>

      <a href="{% url 'anmeldung_print' kurs=kurs.url %}" target="_blank" class="btn btn-large btn-info">
        <i class="icon-print"></i>
        Anmeldung ausdrucken
      </a>
    {% endif %}

    <a href="{% url 'anmeldung_edit' kurs=kurs.url %}" class="btn btn-large btn-warning">
        <i class="icon-edit"></i>
        Anmeldung bearbeiten
    </a>
  </div>

  <div class="anmeldung_box">
    <h3>2. Notfallblatt</h3>
    <br>

      {% if anmeldung.notfallblatt_erhalten or anmeldung.notfallblatt %}
        <div class="alert alert-success">
         <i class="icon-check"></i> <strong>Abgeschlossen</strong>
        </div>

        {% if anmeldung.notfallblatt_erhalten %}
          <p>Wir haben dein Notfallblatt erhalten und dem Lagerleiter übergeben.</p>
        {% endif %}

        {% if anmeldung.notfallblatt %}
          <p>Dein Notfallblatt ist gespeichert. Du kannst es aber jederzeit noch
             ergänzen.
          </p>

          <a href="{% url 'notfallblatt_form' kurs=kurs.url %}" class="btn btn-large btn-success">
              <i class="icon-edit"></i>
              Notfallblatt ergänzen
          </a>
        {% endif %}
      {% else %}
        <div class="alert alert-error">
         <i class="icon-check-empty"></i> <strong>Noch nicht abgeschlossen</strong>
        </div>

        <p>Wir haben noch kein ein Notfallblatt von dir. Entweder füllst du das
          Notfallblatt gleich online aus oder du schickst das ausgefüllte
          Notfallblatt und an unser Seki.
        </p>

        <a href="{% url 'notfallblatt_form' kurs=kurs.url %}" class="btn btn-large btn-success">
            <i class="icon-edit"></i>
            Notfallblatt online ausfüllen
        </a>

        <a href="{{ STATIC_URL }}pdf/notfallblatt.pdf" class="btn btn-large btn-danger">
            <i class="icon-print"></i>
            Notfallblatt ausdrucken
        </a>

      {% endif %}
  </div>
</div>
<div class="clearfix">

  <div class="anmeldung_box">
    <h3>3. Bestätigung der Abteilungsleitung</h3>
    <br>
      {% if not anmeldung.alfeedback %}
          <div class="alert alert-error">
            <i class="icon-check-empty"></i> <strong>Noch nicht abgeschlossen</strong>
          </div>
          <p>Deine Abteilungsleitung muss deine Anmeldung noch bestätigen. Dazu bekommt
            er von uns ein Login und kann hier auf dieser Seite sein OK zu deiner
            Anmeldung geben. So wissen wir, dass du für diesen Kurs genug erfahren
            und motiviert bist. Dank dem Feedback deiner AL können wir auch spezifisch
            auf deine Bedürfnisse eingehen.
          </p>
      {% elif not anmeldung.alfeedback.ok %}
          <div class="alert alert-error">
            <i class="icon-ban-circle"></i> <strong>ANMELDUNG NICHT OK!</strong>
          </div>
          <p>Deine Abteilungsleitung hat deine Anmeldung mit einer Begründung
            abgelehnt. Diese Begründung wird dir so bald wie möglich mitgeteilt.
            Wir schauen die Sache an und geben dir Bescheid!
          </p>
      {% else %}
          <div class="alert alert-success">
            <i class="icon-check"></i> <strong>Anmeldung bestätigt</strong>
          </div>
          <p>Deine Abteilungsleitung hat deine Teilnahme am Kurs bestätigt.</p>
      {% endif %}
  </div>

  <div class="anmeldung_box">
    <h3>3. Lagerbeitrag</h3>
    <br>

    {% if anmeldung.bezahlt %}
      <div class="alert alert-success">
       <i class="icon-check"></i> <strong>Abgeschlossen</strong>
      </div>

      <p>Wir haben deinen Lagerbeitrag erhalten und bestätigen deine Bezahlung</p>
    {% else %}
      <div class="alert alert-error">
       <i class="icon-check-empty"></i> <strong>Noch nicht abgeschlossen</strong>
      </div>

      <p>Du musst noch den Lagerbeitrag von {{ anmeldung.kurs.lagerbeitrag }} Franken überweisen</p>

      <p>
        <strong>
          Leider können wir in dieser Kurssaison noch keine Online-Zahlung
          anbieten. Bitte bezahlt den Kursbeitrag per Einzahlungsschein.
        </strong>
      </p>

      <table class="table table-condensed">
        <tr><th>Name</th><td>Pfadikorps Glockenhof, Zürich/Oberweningen</td></tr>
        <tr><th>PC-Konto</th><td>80-17164-3</td></tr>
        <tr><th>IBAN</th><td>CH34 0900 0000 8001 7164 3</td></tr>
        <tr><th>BIC</th><td>POFICHBEXXX</td></tr>
        <tr><th>Finazinstitut</th><td>Swiss Post - PostFinance, Nordring 8, 3030 Bern, Switzerland</td></tr>
        <tr><th>Zahlungszweck</th>
          <td>Lagerbeitrag von {{ anmeldung }} für {{ anmeldung.kurs }} {{ anmeldung.kurs.von.year }}</td></tr>
      </table>

      <p><strong>
        Bei der Überweisung bitte unbedingt den Zahlungszweck angeben!
      </strong><p>

    {% endif %}
  </div>
</div>

<br><br>

<h3>Das Kleingedruckte
    <a href="/bedingungen/" target="_blank">findest du hier</a>
</h3>


<p>Abmeldungen müssen schriftlich per Brief oder Email an
  <a href="mailto:ausbildung@gloggi.ch">ausbildung@gloggi.ch</a> erfolgen.
</p>
{% endblock %}
