{% extends "base.html" %}

{% block content %}

<h1>Du bist für den Kurs {{ anmeldung.kurs }} angemeldet</h1>

<p>Hier kannst du nun noch die weiteren nötigen Schritte abschliessen.
   Wichtig ist, dass du die Anmeldung noch ausdrucken und ans Seki schicken musst.
   Das Notfallblatt kannst du entweder gleich online ausfüllen oder ausdrucken und
   mit der Anmeldung mitschicken.
</p>
<p>
   Spätestens drei Tage vor dem Kurs solltest du noch den Lagerbeitrag bezahlen.
</p>

<br>

<center>

<a href="{% url anmeldung_print kurs=kurs.url %}" target="_blank" class="btn btn-large btn-info">
    <i class="icon-print"></i>
    Anmeldung ausdrucken
</a>

<br><br>

<a href="{% url anmeldung_edit kurs=kurs.url %}" class="btn btn-large btn-warning">
    <i class="icon-edit"></i>
    Anmeldung nochmals bearbeiten
</a>

{% if not anmeldung.notfallblatt %}
    <a href="{% url notfallblatt_form kurs=kurs.url %}" class="btn btn-large btn-success">
        <i class="icon-edit"></i>
        Notfallblatt online ausfüllen
    </a>
{% else %}
    <a href="{% url notfallblatt_form kurs=kurs.url %}" class="btn btn-large btn-success">
        <i class="icon-edit"></i>
        Notfallblatt bearbeiten
    </a>
{% endif %}

</center>


<p>HIER TEXT ÜBER NOTFALLBLATT EINFÜGEN.</p>

{% endblock %}