{% extends "admin/base.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fhadmin/fhadmin.css" />
<style type="text/css">
    .aligned label { width: 150px }
    form .aligned p, form .aligned ul, form .aligned p.help {
        margin-left: 150px;
        padding-left: 10px;
    }
</style>
{% endblock %}

{% block title %}{{ title }} | Gloggi Ausbildung{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Gloggi Ausbildung' %}</h1>
{% endblock %}

{% block nav-global %}
<div id="quickpanel">
    {% include "admin/group_list.html" %}
    <br style="clear:both" />
</div>
{% endblock %}
