{% extends "base.html" %}
{% load i18n bootstrap %}

{% block content %}

<div class="well well_form nolabel">
    <form method="post" class="form">
      {% csrf_token %}
      {% include 'bootstrapform/errors.html' %}

      <div class="control-group {% if form.email.errors %} error{% endif %}">
          <div class="controls">
              <input type="email" name="email" placeholder="Deine Email" class="input-xlarge" required>
          </div>
          {% for error in form.email.errors %}
              <span class="help-inline">{{ error }}</span>
          {% endfor %}
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-large btn-wide btn-success">
          Passwort schicken
        </button>
      </div>
    </form>
</div>
{% endblock %}