{% extends "base.html" %}

{% block content %}

<h2>
Für Kursanmeldungen bitte hier anmelden ;-)
</h2>

<p>Wenn du dich für einen unserer Ausbildungskurse interessierst, dann ist hier
   der richtige Ort für dich. Du musst dich nämlich zuerst auf unserer Seite
   anmelden, bevor du dich beim Kurs anmelden kannst. Keine Angst, es ist ganz
   einfach, wir benötigen nur eine gültige Email-Adresse und ein Passwort von
   dir. Nach der Anmeldung kannst du dadurch immer direkt auf deine Anmeldedaten
   zugreifen und sie bearbeiten. Du siehst auch den aktuellen Stand deiner
   Anmeldung und erhälst weitere wichtige Infos über den Kurs, den du
   besuchen willst.
<br><br><br>

<center>
    <a href="{% url 'login' %}" class="btn btn-large btn-success">
        Anmelden
    </a>

    oder

    <a href="{% url 'registration' %}" class="btn btn-large btn-info">
        Registrieren
    </a>
</center>


{% endblock %}