{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="well well_form nolabel">
  <form method="post" action="{% url email_registration_form %}" id="registration">
    {% csrf_token %}
    <div class="controls">
      <input id="id_email" type="email" name="email" maxlength="30"
        placeholder="Email" class="input-xlarge" required>
    </div>
    <button type="submit" class="btn btn-large btn-wide btn-info">
      Registrieren
    </button>
  </form>

  <script>
  function init_registration($) {
    $('#registration').on('submit', function() {
      var $form = $(this);
      $.post(this.action, $form.serialize(), function(data) {
        $('#registration').replaceWith(data);
        init_registration($);
      });
      return false;
    });
  }
  $(init_registration);
  </script>
  </div>
{% endblock %}