{% extends "base.html" %}

{% block content %}

<h1>Unsere aktuellen Kurse</h1>

<p>Hier kannst du dich für einen Kurs aus unserem  Kursangebot anmelden.
   Wenn du mehr über unsere Kurse erfahren willst, dann besuche bitte die
   <a href="/">Info-Seite</a>. Du musst dir zuerst <a href="{% url account %}">
   einen Account erstellen oder dich einloggen</a>, bevor du dich für einen
   Kurs anmelden kannst. Klicke dann auf den Kurs, der dich interessiert:
</p>

{% for kurs in kurse %}
<a href="{% url anmeldung_form kurs=kurs.url %}" class="kurs clearfix">
    <h3>{{ kurs.name }}</h3>
    <table>
        <tr>
            <th>Anmeldeschluss</th>
            <td>{{ kurs.anmeldeschluss|date:'d.m.y' }}</td>

            <th>Datum von/bis:</th>
            <td>{{ kurs.von|date:'d.m.y' }} - {{ kurs.bis|date:'d.m.y' }}</td>
        </tr>
        <tr>
        {% if kurs.nummer %}
            <th>Kursnummer:</th><td>{{ kurs.nummer }}</td>
        {% endif %}
        {% if kurs.hauptleiter %}
            <th>Hauptleiter:</th><td>{{ kurs.hauptleiter }}</td>
        {% endif %}
        </tr>
    </table>
</a>
{% endfor %}

{% endblock %}